body {
  background-color: silver;
}

#header {
  /* background-color: #feb423; */
  text-align: center;
}

#eng {
  padding: 10px;
  background-color: #feb423;
  color: black;
}

#enfase {
  /* background-color: #058ea5; */
  background-color: #363636;
  color: white;
  padding: 5px;
}

#container {
  background-color: snow;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  padding: 10px;
}

#footer {
  padding: 10px;
  background-color: #363636;
  color: white;
  text-align: right;
}

h1,
h2 {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid #000;
  text-align: center;
}

table a {
  color: #363636;
}

th,
td {
  padding: 7px;
}

thead {
  /* rgb(255, 240, 165) */
  /* background-color: rgb(255, 240, 165); */
  background-color: rgb(255, 240, 165);
}

tbody {
  /* background-color: #bee6ec; */
  background-color: rgb(204, 200, 200, 0.4);
}

#footer2 {
  padding: 10px;
  background-color: #363636;
  color: white;
  text-align: center;
}

#about {
  color: white;
}

#borbo {
  margin: 15px 150px 20px 150px;
}
