body {
  background-color: silver;
}

#header {
  text-align: center;
}

#header2 {
  margin: 5px;
}

#materia {
  padding: 10px;
  background-color: #feb423;
  color: black;
}

#prof {
  background-color: #363636;
  color: white;
  padding: 5px;
}

#container {
  background-color: snow;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  padding: 10px;
  background-color: #363636;
  color: white;
  text-align: center;
}

#back {
  color: white;
}

h1,
h2 {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  background: #feb423;
  margin: 0;
  padding: 0.1em;
}

.menu li {
  /* font-size: 25px; */
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0;
}

.menu a {
  color: black;
}
